@font-face {
  font-family: neo;
  src: url('neo/Fontspring-DEMO-neogroteskess-ultralight.otf');
}
body {
  background-color: rgb(0, 0, 0);
  font-family: neo;
  cursor: url('data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMzIiIGhlaWdodD0iMzIiIHZpZXdCb3g9IjAgMCAzMiAzMiIgZmlsbD0ibm9uZSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj48Y2lyY2xlIGN4PSIxNiIgY3k9IjE2IiByPSIxMCIgZmlsbD0iYmxhY2siLz48L3N2Zz4='),auto;
}
body::-webkit-scrollbar {
  display:none;
}
.a{
  background-color: #ced3d3;
  border-radius: 40px;
  margin: 10px;
  height: 180px;
  z-index: 1;
}
.b{
  background-color: #ced3d3;
  border-radius: 40px;
  margin: 10px;
  height: 180px;
  z-index: 4;
}
.c{
  background-color: #ced3d3;
  border-radius: 50px;
  height: 100%;
  text-align: center;
  position: relative;
  z-index: 7;
  margin: 10px;
}
.c a{
  font-size: 90px;
}
.rot {
  display: inline-block;
}
.reverse-img {
  display: none;
}
.input-img {
  display: none;
}
.style-img {
  display: none;
}
.scroll-container{
  overflow: auto;
  white-space: nowrap;
  text-align: end;
  z-index: 3;
}
.scroll-container::-webkit-scrollbar {
  display:none;
}

.gridscroll{
  z-index: 3;
}

.gridscroll img {
  margin-bottom: 5px;
  z-index: 3;
}
.image {
  z-index: 3;
  position: relative;
  margin-right: -2px;
}
.imageAnchor {
  z-index: 3;
  position: relative;
  margin-right: -2px;
}
input[type="file"] {
  position: absolute;
  display: none;
}
.start-btn {
  cursor: pointer;
  background: transparent;
  border: none;
}
.textl1 {
  position: fixed;
  font-size: 350px; 
  margin: 150px 0 0 80px;
  line-height: 15px;
  letter-spacing: 25px;
  z-index: 2;
  color: #000000;
}
.textl2 {
  position: fixed;
  font-size: 40px; 
  margin: 30px 0 0 500px;
  line-height: 25px;
  color: #000000;
  z-index: 2;
}
.textr1 {
  position: fixed;
  font-size: 40px; 
  line-height: 25px;
  z-index: 5;
  color: black;
  text-align: right;
  margin-right: 0px;
  margin-top: 100px;
  transform: translate(455px,-260px);
}
.textr2 {
  position: fixed;
  font-size: 350px; 
  z-index: 5;
  line-height: 15px;
  color: black;
  text-align: right;
  transform: translate(770px,-50px);
}
.a .gridscroll {
  display: flex;
  flex-wrap: nowrap;
  overflow-x: auto;
  overflow-y: hidden;
  height: 180px;
  text-align:end;
  margin-left: 800px;
  display:inline-block;
  align-items: end;
}
.a .gridscroll .link:not(.start-btn),
.a .gridscroll .start-btn {
  margin-left: 0;
}
.gridscroll::-webkit-scrollbar {
  display:none;
}
.gridscrollb {
  z-index: 6;
}
.b .gridscrollb {
  display: flex;
  flex-wrap: nowrap;
  overflow-x: auto;
  overflow-y: hidden;
  height: 180px;
  text-align:start;
  margin-right: 800px;
  display:inline-block;
  align-items: start;
  position: relative;
  z-index: 6;
}
.gridscrollb::-webkit-scrollbar {
  display:none;
}
.scroll-containerb{
  overflow: auto;
  white-space: nowrap;
  overflow: scroll; 
  text-align: end;
  direction: rtl;
  z-index: 6;
}
.scroll-containerb::-webkit-scrollbar {
  display:none;
}
.image2 {
  z-index: 6;
  position: relative;
  margin-right: -2px;
}
.imageAnchor2 {
  z-index: 6;
  position: relative;
  margin-right: -2px;
}
.gridscrollb img {
  margin-bottom: 5px;
  z-index: 6;
}
.hw {
  font-size: 150px;
  background-color: #ced3d3;
  position: relative;
  cursor: pointer;
  transform: translateY(-30px);
}
/* .parallax-container {
  height: 100vh;
  overflow-y: scroll;
  perspective: 1px;
}

.a.s {
  transform: translateZ(-1px) scale(2);
  transform-origin: top;
}

.b.sb {
  transform: translateZ(0);
  transform-origin: top;
} */

.out {
  height: 400px;
  width: 400px;
  background-color: #000000;
  z-index: 10;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin-left: 34%;
  border-radius: 50px;
}

.out img {
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
}
